body {
  margin: 0;
  font-family: "Kanit", "Outfit", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f2649;
}
